*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    height: 100%;
    width: 100%;
}
.nav{
    height: 65px;
    width: 100%;
    background-color: #032541;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.navlogo{
    /* width: 120px; */
    height: 20px;
}
.left{
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    /* gap: 15px; */
    font-weight: 500;
    justify-content: space-between;
    padding: 0 10px;
}
.link{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
.right{
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
    /* gap: 30px; */
    justify-content: center;
    justify-content: space-between;
    padding:  0 10px;
    font-weight: 500; 
    /* background-color: rebeccapurple; */
}
.right i {
    font-size: 25px;
    font-weight: 900;
}
#en{
    border: 1px solid white;
    padding: 2px;
    border-radius: 5px;
}
.search{
    height: 30px;
}
.page{
    height: calc(100% - 65px);
    width: 100%;
    overflow-y: auto;
}
.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 100%;
}
.mainimg{
    position: relative;
    height: 100%;
    width: 85%;
}
.headingdiv{
    position: absolute;
    z-index: 9999;
    margin-top: 80px;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    color: white;
}
.headingdiv h1{
    font-size: 5vh;
    font-weight: 700;
}
.headingdiv h2{
    font-weight: 700;
    font-size: 3.8vh;
}
.searchbar{
    position: absolute;
    z-index: 9;
    height: 50px;
    width: 100%;
    top: 70%;
    display: flex;
    position: relative;
    justify-content: center;
}
.searchinput{
    height: 100%;
    width: 92%;
    border-radius: 50px;
    background-color: white;
    outline: none;
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 16px;
}
.searchinput::placeholder{
    color: gray;
    font-size: 16px;
    letter-spacing: .5px;
}
.searchbtn{
    background: linear-gradient(to right,rgba(30,213,169) 0%,rgba(1,180,228) 100%);
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.searchbtn:hover{
    color: black;
}
.contentbar{
    height: 65%;
    width: 100%;
    padding: 20px 100px;
}
.trending{
    margin-left: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 22vw;
    gap: 20px;
}
.trending h2{
    font-weight: 500;
}
.slider{
    height: 30px; 
    width: 250px;
    /* background-color: rebeccapurple; */
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
    background-color: #032541;


}
#one{
    /* background-color: #032541; */
    width: 70%;
    position: absolute;
    position: relative;
    z-index: 999999999999;

}
.today{
    font-weight: 600;
    color: gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,#c0fecf 0,#1ed5a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
/* 
#one::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #032541;
    position: absolute;
    border-radius: 30px;
    left: 0%;
}
#one:hover #one::before{
    background-color: red;
}
#to::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #032541;
    position: absolute;
    border-radius: 30px;
    left: 100%;
} */
.bgimg{
    position: relative;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00659458;
    z-index: 9;
}
.datadiv{
    margin-top: 15px;
    height: 95%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    flex-shrink: none;
}
.datadiv::-webkit-scrollbar{
    display: none;
}

.card{
    margin-left: 25px;
    flex-shrink: 0;
    height: 60%;
    width: 160px;
    background-color: yellow;
    border-radius: 10px;
}

.Latest-Trailers{
    margin-left: 6.5%;
    margin-top: 3%;
    height: 50%;
    width: 87%;
    background-color: rosybrown;
}
.cardimg{
    object-fit: cover;
    object-position: center;
    height: 35vh;
    border-radius: 10px; 
    position: relative;   
}
.boxx{
    height: 100%;
    width: 180px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px ;
    position: relative;
}
.moviedata{
    height: 14.3vh;
    width: 100%;
    color: black;

}
.boxx h3{
    font-size: 15px;
    color: black;
    margin-left: 10px;
    border-bottom:  none;
    outline: none;
    text-decoration: none;
    font-weight: 500;
    margin-top: 25px;
    text-transform: capitalize;
}
.boxx h4{
    font-size: 15px;
    color: black;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: none;
}
.percentage{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #081C22;
    position: absolute;
    top: 66%;
    left: 9%;
    z-index: 9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}
.percentage span{
    font-size: 7px;
    margin-top: -5px;
}
.nav2{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.nav2 .Link{
    color: black;
    text-decoration: none;
    border: none;
}
.backdrop{
    height: 70vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    position: relative;
    background-position: center;
    background-size: cover;   
}
.backdropimg{
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    /* z-index: -999999999; */
    filter: blur(4px);
}
.moviedump{
    border-radius: 10px;
    height: 88%;
    width: 18vw;
    position: absolute;
    left: 17%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.backdropright{
    height: 100%;
    width: 70vw;
    position: absolute;
    position: relative;
    left: 65%;
    top: -100.8%;
    transform: translate(-50%,0);
    padding: 50px;
    color: white;
    /* background-color: #032541; */

    /* z-index: 999999999999999999999999999999; */
}
.one{
    height: 80px;
    width: 80%;
    background-color: #1ed5a9;
    margin-bottom: 30px;
}

#toppp{
    height: 60px;
    width: 80%;
    margin-bottom: 30px;
    line-height: 1.2;
}
#toppp span{
    width: 20px;
    /* background-color: red; */
}
.backdropright h4{
    /* margin-top: 20px; */
    font-weight: 500;
    color: white;
}
.overview{
    padding: 10px 0;
}

.titlee{
    letter-spacing: .1px;
}
.titlee span{
    font-weight: 400;
}
.desc{
    font-weight: 400;
}
.tasks{
    height: 80px;
    width: 55%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: #081C22;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
}
.rating span{
    font-size: 10px;
    margin-top: -10px;
}
.tasks .hh{
    width: 10%;
    text-align: start;
    line-height: 1;
    margin-left: 15px;
}
.div{
    height: 60%;
    width: 78%;
    /* background-color: red; */
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #032541;
    
}
.l{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.l i{
    font-size: 25px;
}
.two{
    margin-top: 15px;
    height: 80px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.writer {
    line-height: 1.2;   
}
.moviedump .cardimg{
    object-fit: cover;
    object-position: center;
    height: 100%;
    border-radius: 10px; 
    position: relative;
}
